blinker
click
colorama
Cython
dnspython
Flask
Flask-Cors
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
packaging
pandas
patsy
pmdarima
PuLP
pymongo
python-dateutil
python-dotenv
pytz
scikit-learn==1.3.1
scipy
six
Werkzeug
